@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Tiro+Bangla&display=swap");
* {
  font-family: Poppins, sans-serif;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.text-color {
  color: rgb(0, 139, 211);
}

.bg-color {
  background-color: rgb(0, 139, 211);
}

.btn-color {
  background-color: rgb(0, 139, 211);
  border: 1px solid transparent;
  color: white;
}

.btn-color:hover {
  color: rgb(0, 139, 211);
  border: 1px solid rgb(0, 139, 211);
  background-color: transparent;
}

#navbar .active {
  color: rgb(0, 139, 211);
}

#logo {
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 139, 211);
}

.navbar button {
  border: 2px solid rgb(0, 139, 211);
  transition: all 0.2s ease 0s;
  outline: none;
}

.navbar button:hover {
  background-color: rgb(0, 139, 211);
  border: 2px solid transparent;
}

.navbar button:hover i {
  color: white;
}

.navbar button i {
  color: rgb(0, 139, 211);
  font-size: 31px;
}

.navbar button:focus {
  box-shadow: 0px 0px 0px;
  outline: none;
}

#navbar ul li a {
  font-weight: 600;
}

#navbar .fb-icon {
  color: white;
  padding: 5px 15px;
  border: 2px solid transparent;
  background-color: rgb(59, 89, 152);
  border-radius: 10px;
}

#navbar .fb-icon:hover {
  color: rgb(59, 89, 152);
  border: 2px solid rgb(59, 89, 152);
  background-color: transparent;
}
/* Hero Section  */
.hero-section {
  height: 100vh;
  background-image: linear-gradient(196deg, #0000006b, #000000bf),
    url(../media/img/village_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
.hero-section h1 {
  background: linear-gradient(45deg, #e8e9f9, #3fbeff);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  text-transform: uppercase;
}
.english-title {
  font-family: "Noto Sans", sans-serif; 
}
.bangla-title {
  font-family: Tiro Bangla; 
  font-weight: 400;
}
/* About Section */

.about-section strong {
  color: rgb(0, 139, 211);
  font-weight: 500;
  cursor: pointer;
}
.about-section strong:hover {
  text-decoration: underline;
}

.about-section video {
  height: 450px;
  width: auto;
}
/* Team Section  */
.team-section .card {
  margin: 10px 0px;
  border: 1px solid transparent;
  background-color: rgba(0, 139, 211, 0);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 2px;
  transition: all 0.2s ease 0s;
}

.team-section .card:hover {
  box-shadow: rgba(0, 0, 0, 0.336) 0 5px 10px 0px;
}

.team-section .card .img {
  width: 50%;
  border: 1px solid rgb(0, 139, 211);
  border-radius: 100%;
  margin: 20px auto auto;
  padding: 5px;
  overflow: hidden;
}

.team-section .card img {
  border-radius: 100%;
  transition: all 0.2s ease 0s;
}

.team-section .card .img:hover img {
  transform: scale(1.1);
}

footer a {
  text-decoration: none;
}

#modal {
  background-color: rgba(0, 0, 0, 0.52);
  transform-origin: center top;
  transition: all 3s ease 0s !important;
}

.modal-content {
  transition: all 1s ease 0s;
  transform-origin: center top;
}
#modal .social-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
}
#modal .social-info a {
  font-size: 25px;
  color: rgb(0, 139, 211);
}
#modal .social-info a:hover {
  font-size: 25px;
  color: rgb(0, 113, 170);
}
#modal img {
  max-width: 200px;
  border-radius: 10px;
  margin: 30px 0px 20px;
  background-color: transparent;
}
